In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('../dataset/raw/browsing_train.csv')
print(train.shape)
train.head()

(36079307, 6)

,session_id_hash,event_type,product_action,product_sku_hash,server_timestamp_epoch_ms,hashed_url
0,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885210881,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
1,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,61ef3869355b78e11011f39fc7ac8f8dfb209b3442a9d5...,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
2,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
3,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
4,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...

In [28]:
sess_map = {n:i for i,n in enumerate(pd.factorize(train['session_id_hash'])[1])}

In [3]:
info = pd.read_csv('../dataset/raw/sku_to_content.csv')
print(info.shape)
info.head()

(66386, 5)

,product_sku_hash,description_vector,category_hash,image_vector,price_bucket
0,26ce7b47f4c46e4087e83e54d2f7ddc7ea57862fed2e2a...,NaN,NaN,NaN,NaN
1,6383992be772b204a9ab75f86c86f5583d1bdd1222952d...,NaN,NaN,NaN,NaN
2,a2c3e2430c6ef9770b903ad08fa067a6b2b9db28f06e1b...,"[0.27629122138023376, -0.15763211250305176, 0....",06fa312761d4b39e2f649781514ac69a4c1505c221fc46...,"[340.3592564184389, -220.19025864725685, 154.0...",7.0
3,1028ef615e425c328e7b95010dfb1fb93cf63749a1bc80...,"[0.4058118760585785, -0.03595402091741562, 0.2...",115a6a7017ee55752b8487c77dfde92b0d501d10a2e69c...,"[180.3463662921092, 222.702322343354, -8.88703...",8.0
4,9870c682d0d52d635501249da0eeaa118fad430b695ea1...,"[-0.3206155300140381, 0.01991105079650879, 0.0...",0665a81d19c89281cc00e7f7d779ded2ed42c933838602...,"[-114.81079301576219, 84.55770104232334, 85.51...",2.0

In [4]:
search = pd.read_csv('../dataset/raw/search_train.csv')
print(search.shape)
search.head()

(819516, 5)

,session_id_hash,query_vector,clicked_skus_hash,product_skus_hash,server_timestamp_epoch_ms
0,48fade624d47870058ce07dd789ccc04e46c70c0fa2a1b...,"[-0.20255649089813232, -0.016908567398786545, ...",NaN,NaN,1548575194779
1,8731ca84ff7bb8cb647531d54e64feedb2519b4a7792a7...,"[-0.007610442116856575, -0.14909175038337708, ...",NaN,['9ee9ffd7e2529a65f9a0b0c9eaae6330df85cf2e3af3...,1548276763869
2,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.20023074746131897, -0.03151938319206238, 0...",NaN,['7cc72dbed53bab78ec6a62feaa5052a7a1db7d201664...,1548937997295
3,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.18556387722492218, -0.07620412111282349, 0...",NaN,['62c4ddab6c1c81c74d315376b3c0dc7768c0286b3dc6...,1548938038268
4,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.03269264101982117, -0.27234694361686707, 0...",NaN,['2a0ee2924feabeec35e21e8fcb4d5b0684d190e46cef...,1548938093827

In [30]:
search['session_id_hash'].map(sess_map).isnull().sum()

77101

In [6]:
def num_null(df):
    for col in df.columns:
        print('{} with the shape of {}'.format(col, (~df[col].isnull()).sum()))

In [9]:
print('train')
num_null(train)
print('search')
num_null(search)
print('info')
num_null(info)

train
session_id_hash with the shape of 36079307
event_type with the shape of 36079307
product_action with the shape of 10431611
product_sku_hash with the shape of 10431611
server_timestamp_epoch_ms with the shape of 36079307
hashed_url with the shape of 36079307
search
session_id_hash with the shape of 819516
query_vector with the shape of 819516
clicked_skus_hash with the shape of 179495
product_skus_hash with the shape of 602754
server_timestamp_epoch_ms with the shape of 819516
info
product_sku_hash with the shape of 66386
description_vector with the shape of 31950
category_hash with the shape of 32052
image_vector with the shape of 28370
price_bucket with the shape of 32038

In [17]:
train['event_type'].unique()

array(['event_product', 'pageview'], dtype=object)

In [18]:
train['product_action'].unique()

array(['detail', nan, 'add', 'purchase', 'remove'], dtype=object)

In [21]:
train['product_sku_hash'].nunique()

57483