In [44]:
import pandas as pd
import numpy as np
import pickle
from utils import load_data
from scipy.sparse import coo_matrix
import seaborn as sns

In [2]:
browsing, search, sku, info = load_data('../dataset/new/')

load browsing done...
load search done...
load sku done...
load info done...

In [11]:
sku['description_vector']

,product_sku_hash,description_vector,category_hash,image_vector,price_bucket
0,0,[],NaN,[],NaN
1,1,[],NaN,[],NaN
2,2,"[0.27629122138023376, -0.15763211250305176, 0....",0.0,"[340.3592564184389, -220.19025864725685, 154.0...",7.0
3,3,"[0.4058118760585785, -0.03595402091741562, 0.2...",1.0,"[180.3463662921092, 222.702322343354, -8.88703...",8.0
4,4,"[-0.3206155300140381, 0.01991105079650879, 0.0...",2.0,"[-114.81079301576219, 84.55770104232334, 85.51...",2.0
...,...,...,...,...,...
66381,66381,[],NaN,[],NaN
66382,66382,"[-0.19150441884994507, -0.06235162168741226, -...",24.0,"[129.55668732976045, 43.27996741934932, -36.70...",3.0
66383,66383,"[-0.19760936498641968, 0.4446450471878052, -0....",2.0,"[-158.25984189321855, 74.19255741438077, 199.6...",5.0
66384,66384,[],NaN,[],NaN
66385,66385,[],NaN,[],NaN

In [41]:
sku['description_vector'] = sku['description_vector'].apply(lambda x: [0] * 50 if not len(x) else x)

In [42]:
sku['image_vector'] = sku['image_vector'].apply(lambda x: [0] * 50 if not len(x) else x)

In [46]:
text_embed = np.stack(sku['description_vector'].values, axis=0)
text_embed.shape

(66386, 50)

In [48]:
with open('../dataset/prepared/text.pkl', 'wb') as f:
    pickle.dump(text_embed, f)

In [49]:
imag_embed = np.stack(sku['image_vector'].values, axis=0)
imag_embed.shape

(66386, 50)

In [50]:
with open('../dataset/prepared/imag.pkl', 'wb') as f:
    pickle.dump(imag_embed, f)