In [1]:
import pandas as pd
import numpy as np

In [2]:
train_inter = pd.read_csv('../dataset/raw/browsing_train.csv')
train_search = pd.read_csv('../dataset/raw/search_train.csv')

In [3]:
test_inter = pd.read_csv('../dataset/raw/browsing_test.csv')
test_search = pd.read_csv('../dataset/raw/search_test.csv')

In [4]:
train_inter.head()

,session_id_hash,event_type,product_action,product_sku_hash,server_timestamp_epoch_ms,hashed_url
0,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885210881,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
1,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,61ef3869355b78e11011f39fc7ac8f8dfb209b3442a9d5...,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
2,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
3,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
4,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...

In [5]:
all_data = pd.concat([train_inter, test_inter], keys=['train', 'test'])
all_data.head()

                                           session_id_hash     event_type  \
train 0  20c458b802f6ea9374783bfc528b19421be977a6769785...  event_product
      1  20c458b802f6ea9374783bfc528b19421be977a6769785...  event_product
      2  20c458b802f6ea9374783bfc528b19421be977a6769785...       pageview
      3  20c458b802f6ea9374783bfc528b19421be977a6769785...  event_product
      4  20c458b802f6ea9374783bfc528b19421be977a6769785...       pageview

        product_action                                   product_sku_hash  \
train 0         detail  d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...
      1         detail  61ef3869355b78e11011f39fc7ac8f8dfb209b3442a9d5...
      2            NaN                                                NaN
      3         detail  d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...
      4            NaN                                                NaN

         server_timestamp_epoch_ms  \
train 0              1550885210881
      1              1550885213307
      2              1550885213307
      3              1550885215484
      4              1550885215484

                                                hashed_url
train 0  7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
      1  4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
      2  4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
      3  7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
      4  7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...

In [6]:
all_data.dropna(subset=['product_sku_hash'], inplace=True)
all_data = all_data[all_data['product_action'] != 'remove'][['session_id_hash', 'product_sku_hash', 'server_timestamp_epoch_ms']]
all_data.head()

                                            session_id_hash  \
train 0   20c458b802f6ea9374783bfc528b19421be977a6769785...
      1   20c458b802f6ea9374783bfc528b19421be977a6769785...
      3   20c458b802f6ea9374783bfc528b19421be977a6769785...
      7   20c458b802f6ea9374783bfc528b19421be977a6769785...
      16  20c458b802f6ea9374783bfc528b19421be977a6769785...

                                           product_sku_hash  \
train 0   d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...
      1   61ef3869355b78e11011f39fc7ac8f8dfb209b3442a9d5...
      3   d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...
      7   d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...
      16  5fa44b39fe0ecc17d713a020ebb802bbe685c6f70d059c...

          server_timestamp_epoch_ms
train 0               1550885210881
      1               1550885213307
      3               1550885215484
      7               1550885304014
      16              1550885885435

In [7]:
all_data.columns = ['user_id:token', 'item_id:token', 'timestamp:float']

In [8]:
all_data['user_id:token'] = pd.factorize(all_data['user_id:token'])[0]
all_data['item_id:token'] = pd.factorize(all_data['item_id:token'])[0]

In [9]:
all_data.head()

          user_id:token  item_id:token  timestamp:float
train 0               0              0    1550885210881
      1               0              1    1550885213307
      3               0              0    1550885215484
      7               0              0    1550885304014
      16              0              2    1550885885435

In [10]:
all_data.reset_index(drop=True, inplace=True)

In [11]:
all_data.to_csv('../dataset/processed/sigir.inter', index=False, sep='\t')